<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>State Flowers | Learning Bootstrap</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="../../../media/style.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../../../media/assets/ico/favicon.ico">
    <link rel="apple-touch-icon" href="../../../media/assets/ico/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../../media/assets/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../../media/assets/ico/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/guestbook/">SB</a> 
          <ul class="nav">
            <li class="active"><a href="/guestbook/welcome">Welcome</a></li>
            <li><a href="/guestbook/states">States</a></li>
            <li><a href="/guestbook/flowers">Flowers</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
	<hgroup>
          <h1>State Flowers</h1>
	  <h2>Can you find your state flower?</h2>
	</hgroup>
        <p><a class="btn primary large pull-right">Contact me &raquo;</a></p>
      </div>

      <ul class="media-grid">
        {% for state, state_info in sf.items %}
	<li>
	  <a href="#">
	    <img width="161" height="161" src={{ state_info.flower_pic }} />
 	    {{ state }}
	  </a>
	</li>
	{% endfor %}
      </ul><!-- end media-grid 2 -->
      
      <!-- Feature row 1 -->
      <div class="row">
        <div class="span-two-thirds">
	  <h2>Top 10 Most Recent Guestbook Entries</h2>
	  {% for greeting in greetings %}
	    {% if greeting.author %}
	      <b>{{ greeting.author.username }}</b> wrote:
	    {% else %}
	      An anonymous person wrote:
	    {% endif %}
	    <blockquote>{{ greeting.content|escape }}</blockquote>
	  {% endfor %}
        </div>
        <div class="span-one-third">
	  <h2>Sign Guestbook</h2>
	  <a href="/accounts/create_user/">Create User</a>
	  Hello
	  {% if user.is_authenticated %}
	    {{ user.username }}
	    [<a href="{% url django.contrib.auth.views.logout %}">sign out</a>]
	  {% else %}
	    World!
	    [<a href="{% url django.contrib.auth.views.login %}">sign in</a>]
	  {% endif %}
	    <form action="/guestbook/sign" method="post">{% csrf_token %}
	      <table>{{ form }}</table>
	      <input type="submit" value="Sign Guestbook" />
	    </form>
       </div>
      </div><!-- Feature row 1 -->
      
      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
