/*
	My custom stylesheet
*/

/* First, pull in Bootstrap's stylesheet */
@import url(assets/css/bootstrap.css);
@import url(assets/css/bootstrap-responsive.css);

/* Add top padding for navbar-top-fixed */
body {
  padding-top: 60px;
  padding-bottom: 40px;
  }
/* Remove top padding when top navbar goes static in narrow viewports */
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

/* Now my custom styles */
.row {
     padding: 20px 0;
}

/* media-grid hover */
.media-grid a:hover {
     border-color: #ddd;
}
